.cache/

assets/calibration.mp4
assets/test*/

build/


yolov11_train/dataset*/
yolov11_train/output*/
yolov11_train/runs/
yolov11_train/best*
yolov11_train/video*

runs/

yolov11_predict/sam*
yolov11_predict/best-seg1s.pt
yolov11_predict/bests_blur*
yolov11_predict/lasts_*

*/debug*

*/*.mp4
*.mp4
yolov11_predict/best-blur-188.pt
yolov11_predict/best-blur-116.pt
.gitignore
yolov11_predict/last-blur-188.pt

yolov11_predict/clear.jpg
yolov11_predict/best-blur-200.pt
